<a href="https://colab.research.google.com/github/johnInarti/MachineLearning/blob/main/Clustering_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PREPARACION DE DATOS

In [2]:
#librerias b√°sicas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel("titanic.xlsx",sheet_name=0)
data.head()

     Clase    Edad    Sexo     Sobrevivio
0  primera  adulto  hombre  Si_Sobrevivio
1  primera  adulto  hombre  Si_Sobrevivio
2  primera  adulto  hombre  Si_Sobrevivio
3  primera  adulto  hombre  Si_Sobrevivio
4  primera  adulto  hombre  Si_Sobrevivio

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2201 entries, 0 to 2200
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Clase       2201 non-null   object
 1   Edad        2201 non-null   object
 2   Sexo        2201 non-null   object
 3   Sobrevivio  2201 non-null   object
dtypes: object(4)
memory usage: 68.9+ KB

In [6]:
#correccion del tipo de datos
data['Clase']=data['Clase'].astype('category')
data['Edad']=data['Edad'].astype('category')
data['Sexo']=data['Sexo'].astype('category')
data['Sobrevivio']=data['Sobrevivio'].astype('category')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2201 entries, 0 to 2200
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Clase       2201 non-null   category
 1   Edad        2201 non-null   category
 2   Sexo        2201 non-null   category
 3   Sobrevivio  2201 non-null   category
dtypes: category(4)
memory usage: 9.2 KB